@font-face {
    font-family: 'font1';
    src: url('assets/myfont.woff') format('woff'),
        url('assets/myfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #fff;
    padding: 0px;
    margin: 0px;
}

canvas{
    display:block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}